:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --primary-color: #c2c2c2;

    --font-main: system-ui, -apple-system, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}


h1, h2, h3 {
    line-height: 1.2;
}


a {
    color: var(--primary-color);
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

.logo {
    font-size: 1.5rem;
    color: var(--text-color);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    color: var(--text-color);
    font-weight: bold;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
}


#hero {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

#hero h1 {
    font-size: 4rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 600px;
}


.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}